%footer.fixed-bottom.bg-primary
  .container
    .row
      .col-12.mx-auto.m-5
        %h1.text-center.text-white Chefs Office Working
      .col.m-2.fixed-bottom
        %p.text-right.text-white @2020 Yoshihiro Kinoshita
